// Colors
$body-bg: #EEE;
$primary-color: #009688;
$secondary-color: #FF5252;
$secondary-color-fallback: #D50000;

$primary-text: #000;
$light-text: #fff;

// Text Opacities
$primary-opacity: 	87%;
$secondary-opacity:	54%;
$disabled-opacity: 	38%;
$divider-opacity: 	12%;

$primary-opacity-light: 	100%;
$secondary-opacity-light:	70%;
$disabled-opacity-light: 	50%;

